body{
  background-image: url('/instagramBackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
}

.jumbotron{
  background-color: rgba(214, 21, 111, 0.575);
  opacity: .7;
  font-weight: 300;


}




.container {
  text-align:center;
  justify-content: center;
}


.h1{
  text-align: center;
}






